<h3> View Fine Details</h3>
<div>
    <div>
        <label> <b> Book Id: </b></label> {{fine.bookid}}
    </div>
    <div>
        <label> <b>Fine ID : </b></label> {{fine.fineid}}
    </div>
    <div>
        <label> <b> Fine Date: </b></label> {{fine.finedate}}
    </div>
    <div>
        <label> <b> Issue Id: </b></label> {{fine.issueid}}
    </div>
    <div>
        <label> <b>Return Id : </b></label> {{fine.returnId}}
    </div>
    <div>
        <label> <b>Student ID : </b></label> {{fine.studentid}}
    </div>
    <div>
        <label> <b>No of noOfDelayDays : </b></label> {{fine.noOfDelayDays}}
    </div>
    <div>
        <label> <b>Fine Amount : </b></label> {{fine.fineamount}}
    </div>
</div>
