<h3> Book List </h3>
<div class="container-fluid">
<table class="table table-stripped">
    <tr>
        <th> Book Id </th>
        <th> ISBN </th>
        <th> Book Name </th>
        <th> Book Author </th>
        <th> Book Publisher </th>
        <th> Book Status </th>
       
    </tr>
    <tr *ngFor="let book of bookArr">
     
        <td> {{book.bookId }}</td>
        <td> {{book.isbn }}</td>
        <td> {{book.bookName }}</td>
        <td> {{book.bookAuthor }}</td>
        <td> {{book.bookPublisher }}</td>
        <td> {{book.status }}</td>
       
        
    </tr>

</table>
</div>