<nav class="navbar navbar-exapnd-sm bg-primary navbar-dark">

    <ul class ="navbar-nav">
      <li class = "nav-item">
        <a routerLink="Book/getall" routerLinkActive="active" class="nav-link" >Book List</a>
    </li>
     
      <li class = "nav-item">
          <a routerLink="Book/create" routerLinkActive="active" class="nav-link">Create a Book</a>
      </li>

      <li class = "nav-item">
        <a routerLink="Book/searchById" routerLinkActive="active" class="nav-link">Search Book By Id</a>
    </li>
    </ul>
  </nav>
<br>

<input type="text" #bookId>
<button (click)="doGetBookInfo(bookId.value)"> Load Book</button><br>

<hr/>

<div *ngIf="isDataFetched == true">
    <div class="container-fluid">
        <table class="table table-stripped">
            <tr>
                <th> Book Id </th>
                <th> ISBN </th>
                <th> Book Name </th>
                <th> Book Author </th>
                <th> Book Publisher </th>
                <th> Book Status </th>
               
            </tr>
            <hr>
            <tr>
             
                <td> {{bookdto.bookId }}</td>
                <td> {{bookdto.isbn }}</td>
                <td> {{bookdto.bookName }}</td>
                <td> {{bookdto.bookAuthor }}</td>
                <td> {{bookdto.bookPublisher }}</td>
                <td> {{bookdto.status }}</td>
               
                
            </tr>
        </table>
    </div>


</div>


