<nav class="navbar navbar-light bg-warning">
  <div class="container-fluid">
      <img src="" alt="">
    <h1> Ganga Library </h1>
    
    <!-- <div class="updateProfile">
     <a routerLink="/Update-student"> <button class="btn btn-info">Update Profile</button></a>
    </div>
    <div class="myProfile">
      <button class="btn btn-info">My Profile</button>
    </div> -->
    

    <div class="Logout">
      <button (click)="logout()" class="btn btn-danger">Logout</button>
      
    </div>
    <!-- <a routerLink="/GetStudent">
    <div class="Logout">
      <button class="btn btn-info">getstudent</button>
    </div></a>
    <a routerLink="/StudentList">
    <div class="Logout">
      <button class="btn btn-info">allstudent</button>
    </div>
  </a> -->
  </div>
</nav>
<div >
<hr>
<div class="container">
   Book-List
<a routerLink="/getAllBooks"><button  class="btn btn-success" style="margin-left:50px">Search</button></a>
</div>
<hr>

<div class="container">
  Search By Book Name
<a routerLink= "/getBookByName"><button  class="btn btn-success" style="margin-left:50px">Search</button></a>
</div>
<hr>

<div class="container">
  Search By Author Name
  <a routerLink="/getBookByAuthor" ><button  class="btn btn-success" style="margin-left:50px">Search</button></a>
</div>
<hr>
<div class="container">
Search By Publisher Name
<a routerLink="/getBookByPublisher"><button  class="btn btn-success" style="margin-left:50px">Search</button></a>
</div>
<hr>
</div> 