



<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1> Ganga Library </h1>
    <div class="welcome" #admin>
      Welcome 
    </div>
    <!-- <div class="myProfile">
      <button class="btn btn-success">My Profile</button>
    </div> -->
    <div class="Logout">
      <button (click)="logout()" class="btn btn-success">Logout</button>
      
    </div>
  </div>
</nav>

<div class="wrapper">
  
    <nav class="menu">
        <ul id="menu-list">
          <li>
            <a href="Book">Books</a>
          </li>
          <li>
            <a href="student-page">Students</a>
          </li>
          <li>
            <a href="IssueBook">Issue Book</a>
          </li>
          <li>
            <a href="ReturnBook">Return Book</a>
          </li>
          <li>
            <a href="Fine">Fine</a>
          </li>
        
        </ul>
      </nav>
</div>
 
