<h3> View ReturnBook Details</h3>
<div>
    <div>
        <label> <b> returnId: </b></label> {{returnbook.returnId}}
    </div>
    <div>
        <label> <b> issueId: </b></label> {{returnbook.issuedId}}
    </div>
   
    <div>
        <label> <b> studentId: </b></label> {{returnbook.studentId}}
    </div>
    <div>
        <label> <b> bookId: </b></label> {{returnbook.bookId}}
    </div>
    <div>
        <label> <b> actualReturnDate: </b></label> {{returnbook.actualReturnDate}}
    </div>
</div>
