<h3> Issuedbook Details</h3>
<div>
    <div>
        <label> <b> Issue Id: </b></label> {{issuebook.issueId}}
    </div>
    <div>
        <label> <b> Book Id: </b></label> {{issuebook.bookId}}
    </div>
    <div>
        <label> <b> Student Id: </b></label> {{issuebook.studentId}}
    </div>
    <div>
        <label> <b> Issue Date: </b></label> {{issuebook.dateOfIssue}}
    </div>
    <div>
        <label> <b> Return Date: </b></label> {{issuebook.dateOfReturn}}
    </div>
    <div>
        <label> <b> Returned Status: </b></label> {{issuebook.returnedStatus}}
    </div>
    <div>
        <label> <b> Return Id: </b></label> {{issuebook.returnId}}
    </div>
</div>