.card{
   
    border: none;
    width:12cm;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsla(205,46%,30%,1);
    background:linear-gradient(90deg,hsla(205,46%,30%,1) 0%,hsla(260,29%,36%,1)100%) ;
    border-radius: 10px;
}
.card h1,h3,a{
    color:white; 
}
label{
    width: 140px;
    display: inline;
    margin: 0.2cm;
    font-size: 16px;
    font-weight: bolder;
    color:#fff;
}