<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1> Ganga Library </h1>
    <div class="myProfile">
      <button class="btn btn-success">My Profile</button>
    </div>
    <div class="Logout">
      <button class="btn btn-success">Logout</button>
    </div>
  </div>
</nav>

<div class="wrapper">
  
    <nav class="menu">
        <ul id="menu-list">
          <li>
            <a href="">Books</a>
          </li>
          <li>
            <a href="">Students</a>
          </li>
          <li>
            <a href="">Issue Book</a>
          </li>
          <li>
            <a href="">Return Book</a>
          </li>
          <li>
            <a href="">Fine</a>
          </li>
        
        </ul>
      </nav>
</div>

