
    
  <h1 style="text-align:center" > Ganga Library </h1>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin Login</h1>
                     <h6>Please enter username & password</h6>
                </div>
            
                <form class="loginForm" (ngSubmit)="doLogin()" #loginForm="ngForm" >
                    <div class="mb-3">
                        <label for="librarianUsername" class="form-label">Username</label>
                        <input required type="text" #librarianUsername="ngModel" [(ngModel)]="loginModel.librarianUsername" id="librarianUsername" name="librarianUsername"/> 
                        <div *ngIf="librarianUsername.untouched == false && librarianUsername.touched == true && librarianUsername.invalid == true">
                            <p class="errorMsg"> username cannot be left blank </p>
                        </div> 
                      
                    </div>
                    <div class="mb-3">
                      <label for="librarianPassword" class="form-label">Password</label>
                      <input required type="password" #librarianPassword="ngModel" [(ngModel)]="loginModel.librarianPassword" id="librarianPassword" name="librarianPassword"/>
                      <div *ngIf="librarianPassword.untouched == false && librarianPassword.touched == true && librarianPassword.invalid == true">
                        <p class="errorMsg"> Password cannot be left blank </p>
                    </div>    
                    </div>
                   
                    <button  [disabled]="loginForm.form.invalid" type="submit">Login</button>
                 </form>
                 <a routerLink="/AdminSignup">New Admin? Click to signup!!</a>
                 
                 <a routerLink="/StudentLogin">Reader Login</a>
            
             </div>
        </div>
    </div>
</div>
