<div class="col-md-6 offset-md-3">
    <h3> Create Issuebook </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <!-- <div class="form-group">
            <label> Issue Id</label>
            <input type="number" class ="form-control" id = "issueId"
                [(ngModel)] = "issuebook.issueId" name = "issueId">
        </div> -->
    
        <div class="form-group">
            <label> Book Id : </label>
            <input type="number" class ="form-control" id = "bookId"
                [(ngModel)] = "issuebook.bookId" name = "bookId">
        </div>

        <div class="form-group">
            <label> Student Id :</label>
            <input type="number" class ="form-control" id = "studentId"
                [(ngModel)] = "issuebook.studentId" name = "studentId">
        </div>
    
        <div class="form-group">
            <label> Issue Date :</label>
            <input type="datetime-local"  class ="form-control" id = "dateOfIssue"
                [(ngModel)] = "issuebook.dateOfIssue" name = "dateOfIssue">
        </div>

        <div class="form-group">
            <label> Return Date :</label>
            <input type="text" class ="form-control" id = "dateOfReturn"
                [(ngModel)] = "issuebook.dateOfReturn" name = "dateOfReturn">
        </div>

        <!-- <div class="form-group">
            <label> Returned Status</label>
            <input type="text" class ="form-control" id = "returnedStatus"
                [(ngModel)] = "issuebook.returnedStatus" name = "returnedStatus">
        </div> -->

        <!-- <div class="form-group">
            <label> Return Id</label>
            <input type="number" class ="form-control" id = "returnId"
                [(ngModel)] = "issuebook.returnId" name = "returnId">
        </div> -->
        <br/>
        <button class = "btn btn-success" type ="submit">Issue Book</button>
        
    
    </form>
    </div> 